


.CCard { 
    /* //alightn car to the right of the screen */
    border: 2px solid white;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.HCard{
    justify-content: flex-start;
    align-items: flex-start;
}
.newcard { 
    font-size: 30px;
    margin: 10px;
}

.challengecomputer {
    font-size: 30px;
}

.cardLayout {

    display: flex;
    justify-content: space-evenly;

}

.result{
    width: 10rem;
}

.cardTitles {
    display: flex;
    justify-content: space-around;
}

